{# Boucle pour afficher les modules ACF Flexible Content #}

{% if post.modules %}
    {% for module in post.modules %}
        {% set module_template = 'modules/' ~ module.acf_fc_layout ~ '.twig' %}
        {% include module_template with module ignore missing %}
    {% endfor %}
{% else %}
    {# Fallback: afficher le contenu normal de la page #}
    {% if post.content %}
        <div class="container mx-auto px-4 py-8">
            <div class="prose max-w-none">
                {{ post.content }}
            </div>
        </div>
    {% endif %}
{% endif %}
